body {
    background-image: url(bintang.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 50px auto;
    border: 2px dashed white;
    border-radius: 15px;
    background-color:hotpink;
    color: white;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
th {
    background-color:violet;
}
.highlight {
    background-color:palevioletred;
}
tr:hover{
    background-color:orchid ;
}